#{extends '/layout.html' /}
<div id="content">
	<div class="inner">
		<div class="onecolumn">
			<div class="header">
				<span>存款人管理 </span>
				<span><a id="add_group" href="javascript:;" class="clear_btn"><em>新增</em></a></span>
				<span style="font-size: 14px;">村组编号：</span>
				<input style="width: 100px;" type="text" id="group_number" name="group_number" value="${groupNumber}" />
				<span style="font-size: 14px;">村组名称：</span>
				<input style="width: 120px;" type="text" id="group_name" name="group_name" value="${groupName}" />
				<span style="font-size: 14px;">姓名：</span>
				<input style="width: 120px;" type="text" id="user_name" name="user_name" value="${userName}" />
				<a id="chaxun" href="javascript:;" class="save_btn"><em>查询</em></a>
				<a id="excel" href="javascript:;" class="save_btn"><em>导出EXCEL</em></a>
			</div>
			<div class="content">
				<table cellspacing="0" cellpadding="0" width="100%" class="data">
					<thead>
						<tr>
							<th width="120" style="text-align: center;">村组</th>
							<th width="70">存款人编号</th>
							<th width="70">存款人名称</th>
							<th width="70">身份证号码</th>
							<th width="70">金算盘编号</th>
							<th width="70">金算盘名称</th>
							<th width="120">操作</th>
						</tr>
					</thead>
					<tbody>
						#{list items:customers, as:'customer'}
						<tr id="list_data_${customer.number}">
							<td>${customer.group_number + "/" + customer.group_name}</td>
							<td>${customer.number}</td>
							<td>${customer.name}</td>
							<td>${customer.user_id_card}</td>
							<td>${customer.jsp_number}</td>
							<td>${customer.jsp_name}</td>
							<td>
								<a href="javascript:;" onclick="edit('${customer.number}');">编辑</a>
								<a href="javascript:;" onclick="del('${customer.number}');">删除</a>
							</td>
						</tr>
						#{/list}
					</tbody>
				</table>
				#{include '/page.html' /}
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function(){
	$('#add_group').click(function(){
		$.get('@{system.CustomerManage.addCustomer}',{},function(msg){
			APP.alert2(2,'新增存款人',msg,400,10);
		})
	})
	$('#chaxun').click(function(){
		window.location = '/system.CustomerManage/search?groupName='+encodeURI($('#group_name').val())+
				'&userName=' + encodeURI($('#user_name').val())+'&groupNumber=' + encodeURI($('#group_number').val());
	})
	$('#excel').click(function(){
		window.location = '/system.CustomerManage/toExcel?groupName='+encodeURI($('#group_name').val())+
		'&userName=' + encodeURI($('#user_name').val())+'&groupNumber=' + encodeURI($('#group_number').val());
	})
})
function edit(number){
	$.get('@{system.CustomerManage.editCustomer}',{number:number},function(msg){
		APP.alert(1,'编辑存款人',msg,400);
	})
}
function del(number){
	$.get('@{system.CustomerManage.delCustomer}',{number:number},function(msg){
		APP.tips('success','删除成功！');
		setTimeout(function(){window.location.reload();},500);
	})
}
</script>